.current {
  color: green;
}
.gsu-blue {
    // font-family: "Sofia Pro Bold", "Arial Bold", sans-serif;
    color: #ffffff;
    background-color: #0039a6;
    // font-weight: bold !important;
}
div.panel {
    margin-bottom: 3ex;

}
